//Changing Bulma variables and adding global styles

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #A59Ad7;
$pink: #FE76C2;
$blue: #37c7f2;
$lightred: #fff3f3;
$light: #fafcff;

$green: #0bf387;



// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$link: $blue;


// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: #f3f5fa;
$input-shadow: none;


//Global Styles
html, body{
    height:100%;

    //set default font size to 18px
    font-size: 18px !important;
    overflow: hidden !important;
}

