table{
    text-align: center;
    margin: auto;
    padding: 30px;

   .white{
    background-color: white;
   }
   .red{
    background-color: red;
   }

    .odd{
        color: green;
    }
    
    .even{
        color: purple;
    }
    

}

.user-input{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    margin: auto;
    bottom: 30px;

    .text-inputs{
        padding: 10px 10px;
        display: flex;

        .movie-title{
            &:hover{
                border-color: green;
            }

        }
        .movie-releaseDate{
            &:hover{
                border-color: green;
            }

        }
        .movie-director{
            &:hover{
                border-color: green;
            }

        }

        
    }
}


