

.mixer-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    

    .name-box{
        padding: 5px 0 5px 0;
        margin: 10px;
        text-align: center;

    }
}