.home-body{
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;


    .description{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: green;
        padding: 10%;
        align-items: center;

        #mixer{
            max-width: 100px;
        }
    }

    
}