*{
    margin: auto;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(74, 74, 163);
    position: fixed;
    left: 0;
    height: 50px;
    bottom: 0px;
    width: 100%;
    color: white;
}