:root{
    --gray: rgba(255, 255, 255, 0.25);
    --light-gray: rgba(163, 40, 40, 0.322);
}

*{
    margin: auto;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.locale{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.container{

 
    .weather{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        .temp{
            display: flex;
            flex-direction: row;
    
            .max{
                padding: 0px 15px;
            }
    
            .min{
                padding: 0px 15px;
                color: var(--light-gray);
            }
     
    
        }
    
        
    }

}
